<?php
 $stypetag = gettypetag(2);
?>
<div class="maxBox listc">
  <div class="box">
    <div class="silder-box" id="index-silder">
      <ol class="index-list">
        <li>
          <dl>
            <dt> 电视剧 </dt>
        <volist name="stypetag" id="item">
                <dd><a href="{:getstypetaglink(2,$item['m_cid'])}" target="_blank">{$item.m_name}</a></dd>  
        </volist> 
          </dl>
        </li>
        <li>
          <dl>
            <dt> 电影 </dt>
            <?php
             $dystypetag = gettypetag(1);
            ?>
        <volist name="dystypetag" id="item">
                <dd><a href="{:getstypetaglink(1,$item['m_cid'])}" target="_blank">{$item.m_name}</a></dd>  
        </volist> 
          </dl>
        </li>
        <li>
          <dl class="dm">
            <dt> 动漫 </dt>
            <?php
             $dystypetag = gettypetag(3);
            ?>
        <volist name="dystypetag" id="item">
                <dd><a href="{:getstypetaglink(3,$item['m_cid'])}" target="_blank">{$item.m_name}</a></dd>  
        </volist> 
          </dl>
        </li>
        <li>
          <dl class="zy">
            <dt> 综艺娱乐 </dt>
            <?php
             $dystypetag = gettypetag(4);
            ?>
        <volist name="dystypetag" id="item">
                <dd><a href="{:getstypetaglink(4,$item['m_cid'])}" target="_blank">{$item.m_name}</a></dd>  
        </volist> 
          </dl>
        </li>
      </ol>
    </div>
    <div class="index-search fa-clear">
      <div class="FormSearch">
        <form target="_top" action="/index.php?s=video/search/" method="post">
          <div class="searchForm clearfix">
            <input class="searchInput" type="text" autocomplete="off" name="wd" id="wd" value="请在此处输入影片片名或演员名称。" onfocus="if(this.value=='请在此处输入影片片名或演员名称。'){this.value='';}" onblur="if(this.value==''){this.value='请在此处输入影片片名或演员名称。';};">
            <input type="submit" value="" class="searchSubmit">
          </div>
        </form>
      </div>
      <div class="hotKeys fa-right"> <strong> 热门搜索： </strong> {$hotkey} </div>
    </div>
  </div>
</div>