body{ font:13px/1.5 Arial,\5b8b\4f53,Tahoma,sans-serif;background:#fff; color:#333}
html,body,p,dl,dt,dd,table,td,th,input,img,form,div,span,ul,ol,li,h1,h2,h3,h4,h5,h6,select,fieldset,fieldset,input,button,sub,sup,textarea{margin:0;padding:0; }
table {border-collapse:collapse; border-spacing:0;}
h1,h2,h3,h4,h5,h6 {font-size:100%;} 
iframe,img{ border:0 none;}
img{ vertical-align:middle;}
em,i{font-style: normal;}
ul,li,ol{list-style:none outside none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
a{ text-decoration:none;color:#333}
a:hover{ text-decoration:underline;color:#f30}
.aMore { font-family:\5b8b\4f53}
:focus { outline:0;}
.clear{ clear:both; overflow:hidden; font-size:0; height:0;line-height:0;}
.right { float:right}
.left { float:left}

input,textarea,select { background-color:#fff}

a.playVideoBtn { background:url(/template/2345/images/videoGlobalMap.png) 0 -110px no-repeat; width:82px; height:23px; display:block}
a:hover.playVideoBtn { background-position:-96px -110px;}

a.addCollectBtn,a.downLoadBtn { background:url(/template/2345/images/videoGlobalMap.png) 0 0 no-repeat; height:24px; line-height:24px; display:block}
a.downLoadBtn { width:108px; text-align:center}
a:hover.downLoadBtn { background-position:0 -25px; text-decoration:none}
a.addCollectBtn {  width:68px; background-position:-109px 0; text-align:center}
a:hover.addCollectBtn { background-position:-109px -25px; text-decoration:none}

.header,.headerNav a.headerNavSelected,.headerNav .left a:hover,.headerNav .pLinks a:hover,.headerNav i { background:url(/template/2345/images/repeatGlobalMap.png) 0 0 repeat-x}

.header { height:135px; min-width:1000px}
.headerNav { height:41px; line-height:36px; width:1000px; margin:0 auto;}
.headerNav a,.headerNav a:hover { color:#fff;}
.headerNav .left { padding-left:1px; float:left;}
.headerNav .left i { width:2px; background-position:0 -212px; float:left; margin-left:-1px; position:relative; z-index:3; height:36px}
.headerNav .left a { margin-left:-1px; float:left; position:relative; z-index:2; padding:0 20px; font-size:14px}
.headerNav .left a:hover { background-position:0 -175px; text-decoration:none;}
.headerNav .left a.headerNavSelected,.headerNav .left a:hover.headerNavSelected { background-position:0 -137px; z-index:10; padding:0 19px; border-left:1px solid #fff;border-right:1px solid #fff; height:37px; color:#333; font-weight:700}
.headerNav .left a:hover { z-index:5; font-weight:100}
.headerNav .right { height:37px; line-height:36px;}
.headerNav .pLinks { float:left; height:37px; line-height:36px; padding-left:1px; background:url(/template/2345/images/new.gif) 200px 1px no-repeat}
.headerNav .pLinks a { padding:0 15px;}
.headerNav .pLinks a:hover { background-position:0 -175px; text-decoration:none; z-index:10}
.headerNav .right i { background-position:-6px -212px; width:1px; float:left; height:13px; margin-top:11px; position:relative; z-index:7; margin-left:-1px; display:inline}
.headerNav .right a { display:inline; float:left; margin-left:-1px; position:relative; z-index:5}
.headerNav .right a.headerNavSelected,.headerNav .right a:hover.headerNavSelected { background-position:0 -137px; z-index:15; padding:0 13px;border-left:1px solid #fff;border-right:1px solid #fff; color:#333; height:37px}
.headerNav .right a.addCollectBtn { margin:6px 0 0; color:#ccc}
.headerNav .right a.downLoadBtn { margin:6px 10px 0 15px; color:#ccc}
.headerNav .right a:hover.addCollectBtn,.headerNav .right a:hover.downLoadBtn { color:#ccc}

.headerContent { width:1000px; margin:0 auto}
.headerContent .left { width:726px;}
.headerContent .right { width:226px}
.headerContent .headerLogo { float:left; width:225px; padding-top:7px}
.headerContent .headerLogo img { display:block;}
.headerContent .headerLogo span { display:block; background:url(/template/2345/images/videoGlobalMap.png) 0 -50px no-repeat; height:23px; line-height:24px; color:#666;text-align:center; overflow:hidden; width:179px; margin:1px 0 0 6px; font-size:12px}
.headerContent .headerLogo .headerLogoTxt { background:url(/template/2345/images/headLogoTxtBg.png) 0 0 no-repeat; height:23px; line-height:24px; color:#666;text-align:center; overflow:hidden; width:217px; margin:1px 0 0 5px; font-size:12px}
.headerContent .headerLogo .headerLogoTxt span { display:block; height:23px; overflow:hidden; margin:0; background:none; width:auto}
.headerContent .headerLogo .headerLogoTxt span a { color:#666; text-decoration:underline}
.headerContent .headerLogo .headerLogoTxt span a:hover { color:#f30}
.headerContent .headerLogo em { color:#f60}
.headerContent .headerSearch { float:right; width:484px; padding-top:20px; position:relative; z-index:280}
.headerSearch .searchForm { width:484px; position:relative; z-index:350}
.headerSearch .searchForm input { float:left}
.headerSearch .searchInput { width:409px; height:20px; border:1px solid #999; border-right:0 none; padding:7px 3px 6px; line-height:20px; font-size:14px;}
.headerSearch .searchSubmit { border:0 none; background:url(/template/2345/images/videoGlobalMap.png) 0 -74px no-repeat; width:68px; height:35px; cursor:pointer; position:absolute; top:0; right:0;}
.headerSearch .searchSubmitSelected { background-position:-69px -74px}
.headerSearch .searchHotWords { padding-top:5px; line-height:20px}
.headerSearch .searchHotWords a { margin-right:10px;}
.headerSearch .searchHotWords a:hover { color:#f60}
.headerContent .headerNewsScroll { background:url(/template/2345/images/videoGlobalMap.png) -386px -94px no-repeat; display:block; height:24px; line-height:24px; padding-left:18px; overflow:hidden; margin-top:5px}
.headerContent .headerNewsScroll li { height:24px; overflow:hidden}
.headerContent .headerNewsScroll a { color:#2a78b4}
.headerContent .headerNewsScroll a:hover { color:#f30}

.headerHistory { background:url(/template/2345/images/videoGlobalMap.png) -174px -136px no-repeat; height:28px; position:relative; margin-top:20px; z-index:300}
.headerHistory .spanA,.headerHistory .spanB { float:left; text-align:center; height:28px; line-height:28px; font-size:14px}
.headerHistory a { color:#333}
.headerHistory a:hover { color:#f30} 
.headerHistory .spanA { width:67px;}
.headerHistory .spanB { width:114px;}
.headerHistory a.headerHistoryBtn { width:90px; float:left; font-size:14px; height:28px; line-height:28px; padding-left:22px;}
.headerHistory a:hover.headerHistoryBtn { background:url(/template/2345/images/videoGlobalMap.png) -175px -165px no-repeat}
.headerHistory a.headerHistorySelected,.headerHistory a:hover.headerHistorySelected { background:url(/template/2345/images/videoGlobalMap.png) -288px -165px no-repeat; position:relative; z-index:305; text-decoration:none; color:#333}
.headerHistory .historyContent { background:#fff; width:224px; position:absolute; top:27px; left:0; border:1px solid #999; z-index:300; overflow:hidden}
.headerHistory .historyContent a{ color:#2a78b2}
.headerHistory .historyContent a:hover { color:#f30}
.headerHistory .historyClose { text-align:right; height:28px; line-height:28px; color:#ccc}
.headerHistory .historyClose a { margin:0 10px}
.headerHistory .historyList { background:url(/template/2345/images/repeatGlobalMap.png) 0 -577px repeat-x; width:224px; overflow:hidden}
.headerHistory .historyList li { float:left}
.headerHistory .noHistoryList { padding:0 20px 10px; width:184px}
.headerHistory .noHistoryList .sTit { display:block; text-align:center; border-bottom:1px solid #eee; font-size:14px; padding:10px 0 6px}
.headerHistory .noHistoryList em { color:#999; font-size:13px; padding:10px 0 5px; display:block}
.headerHistory .noHistoryList li { background:url(/template/2345/images/videoGlobalMap.png) -397px -42px no-repeat; font-size:14px; height:18px; padding:0 0 10px 10px; width:174px}
.headerHistory .ulHistoryList li { height:30px; position:relative; width:224px}
.headerHistory .ulHistoryList li.liHover { background:#f5f5f5}
.headerHistory .ulHistoryList a { height:30px; border-top:1px solid #eee; display:block; background:url(/template/2345/images/videoGlobalMap.png) -377px 10px no-repeat; padding:6px 10px 0 30px;}
.headerHistory .ulHistoryList li.liHover a { background:url(/template/2345/images/videoGlobalMap.png) -377px 10px no-repeat; text-decoration:none}
.headerHistory .ulHistoryList li .sName {color:#2a78b2; font-size:12px; padding-right:15px}
.headerHistory .ulHistoryList li .sTime { display:block; font-size:12px; color:#999}
.headerHistory .ulHistoryList li a.removeBtn { background:url(/template/2345/images/videoGlobalMap.png) 0 -225px no-repeat; width:10px; height:10px; position:absolute; right:10px; top:10px; display:block; overflow:hidden; padding:0; border:0 none}
.headerHistory .ulHistoryList li a:hover.removeBtn { background-position:-11px -225px; text-decoration:none}

.association{ width:482px; height:300px;border:1px solid #6699ba; background:#fff; position:absolute; top:34px;left:0px; z-index:499; clear:both}
.association_menu{width:187px; height:300px; border-right:1px solid #b4c8d5; background:#fff; float:left;}
.association_menu a{padding-left:7px;height:29px; font-size:14px; line-height:29px; border-bottom:1px dotted #dae7f0; display:block; color:#414141; background:url(/template/2345/images/videoGlobalMap.png) no-repeat 175px -175px}
.association_menu a i{font-weight:normal; font-style:normal; color:#f00}
.association_menu a:hover,.association_menu a.cut{border-bottom:1px dotted #b4c8d5; background:#ebf8fc url(/template/2345/images/videoGlobalMap.png) no-repeat 175px -145px; margin-right:-1px;color:#414141; text-decoration:none; position:relative}
.association_menu a.hover_fot{border-bottom:1px dotted #b4c8d5;}
.association_r{width:294px; height:300px;float:left;}
.association_main{padding:0 0 0 10px;height:300px;background:#ebf8fc; position:relative}
.association_video { position:absolute; left:10px; top:10px;}
.association_videoA { top:29px;}
.association_videoB { top:58px;}
.association_videoC { top:87px;}
.association_videoD { top:116px;}
.association_videoE { top:145px;}
.association_videoF { bottom:10px; top:auto}
.association_video .pic { float:left; width:93px; display:inline; text-align:center; color:#999;}
.association_video .pic a{ width:89px; height:119px;padding:1px; border:1px solid #ccc; float:left; margin-bottom:3px;}
.association_video .pic a:hover{padding:0; border:2px solid #f60}
.association_video .pic img { float:left}
.association_video_xq{ width:170px; float:left; padding-left:10px}
.association_video_xq em { float:left}
.association_video_xq span { width:130px; float:left}
.association_video_xq p { color:#666; line-height:20px; word-wrap:break-word; width:170px;}
.association_video_xq p a { color:#2A78B2; margin-right:10px}
.association_video_xq p a:hover { color:#f30}
.association_video_xq p.name{ padding-bottom:7px; font-size:14px;}
.association_video_xq p.name a{font-weight:bold; color:#404040; margin:0}
.association_video_xq p.name a:hover { color:#f30}
.association_video_xq p .playVideoBtn { margin-top:11px}
.association_video_xq p i { color:#f00}
.association_video_xq a.checkMoreBtn {display:block; background:url(/template/2345/images/ssociationCheckMoreBtnBg.png) 0 0 no-repeat; height:25px; width:108px; overflow:hidden; margin-top:11px}
.association_video_xq a:hover.checkMoreBtn {display:block; background-position:0 -26px;}

.footer { border-top:1px solid #fff; background:#ededed}
.footer .footerContent { width:1000px; margin:0 auto}
.footer dl { float:left; color:#666; display:inline; overflow:hidden}
.footer dt { padding:15px 0 10px; font-size:14px; font-weight:700;}
.footer dd { line-height:24px}
.footer a { margin-right:18px; color:#666}
.footer a:hover { color:#f30}
.footer .footerVideo { width:186px;}
.footer .footerPartners { width:262px}
.footer .footerWeibo { width:152px}
.footer .footerBusiness { width:280px}
.footer .footerAdvice { width:120px}
.footer a.footerAdviceBtn { background:url(/template/2345/images/videoGlobalMap.png) -179px -194px no-repeat; width:110px; height:60px; display:block; color:#fff; font-size:14px; line-height:34px; text-align:center}
.footer a:hover.footerAdviceBtn { background-position:-290px -194px; color:#fff; text-decoration:none}

.copyRight{ text-align:center; font-size:14px; color:#999; padding:20px 0}

/*搜索弹窗*/
.search_pop{width:390px; height:308px; border:2px solid #1891c5; text-align:left; background:#edf5f8; position:absolute; left:50%; margin-left:-200px; top:150px; z-index:9999}
.search_pop .close{ height:18px;padding:8px 10px 0; text-align:right}
.search_pop .close a{height:12px; width:12px; display:block; background:url(/template/2345/images/videoGlobalMap.png) no-repeat 0 -238px; float:right}
.search_pop .search_pop_main{padding:0 30px 10px; font-size:14px;}
.search_pop .input01{ margin:10px 0;border:1px solid #b4c8d5; height:23px; line-height:23px; width:320px;padding-left:3px;}
.search_pop a{width:49px; height:22px; line-height:22px; text-align:center; font-size:13px; display:inline-block; margin:10px;background:url(/template/2345/images/videoGlobalMap.png) no-repeat -218px -87px; color:#fff;}

.sheader { margin-bottom:5px;height:41px; min-width:1000px; background:url(/template/2345/images/repeatGlobalMap.png) repeat-x 0 -276px; position:relative; z-index:95}
.sheader .shead { width:1000px; margin:0 auto;}
.sheader .slogo{margin-right:10px; float:left;}
.sheader .smenu{padding-top:10px; height:22px; line-height:22px;float:left;background:url(/template/2345/images/new.gif) 394px 1px no-repeat}
.sheader .smenu a{margin-right:22px; font-size:14px; color:#fff; float:left; position:relative; display:inline-block}
.sheader .smenu .new{position:absolute; right:-20px; top:-6px; width:23px; height:12px; display:inline-block; background:url(/template/2345/images/videoGlobalMap.png) 0 -278px no-repeat}
.sheader .top-search{width:250px;padding-top:8px; float:right;position:relative}
.sheader .top_inp{width:183px; height:20px; line-height:20px; border:1px solid #010101; border-right-color:#18517f; background:#fff url(/template/2345/images/videoGlobalMap.png) no-repeat -381px -269px; float:left; padding:1px 0 1px 22px}
.sheader .top_btn{border:none; width:39px; height:24px; cursor:pointer; overflow:hidden; float:left;}
.sheader .t_btn{background:url(/template/2345/images/videoGlobalMap.png) -138px -85px no-repeat;}
.sheader .t_btn_hover{ background-position:-178px -85px}
.sheader .think_m{border:1px solid #6699ba; background:#fff; width:206px;position:absolute;top:31px;left:0; z-index:100}
.sheader .think_m a{height:22px; line-height:22px; padding-left:10px; display:block; color:#4a4a4a}
.sheader .think_m a i{font-weight:normal; color:#f00}
.sheader .think_m a.cut,.sheader .think_m a:hover{ color:#414141; background:#e6f2f6; text-decoration:none;}

.sfooter{padding-top:20px; text-align:center; width:1000px; margin:0 auto}
.sfooter a.fankui{padding-left:25px; height:26px; font-size:14px; line-height:26px; display:inline-block; background:url(/template/2345/images/videoGlobalMap.png) no-repeat -379px -304px}
.sfooter p{padding:10px 0;font-size:12px; color:#999}
.sfooter p a.back{width:114px; height:23px; display:inline-block;background:url(/template/2345/images/goBackHomePageBtn.png) no-repeat left top;_background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/template/2345/images/goBackHomePageBtn.png"); cursor:pointer}

.BrowserExtension { height:38px; background:url(/template/2345/images/browserMap.png) 0 -75px repeat-x; min-width:1000px}
.BrowserExtension p { width:1000px; margin:0 auto; line-height:26px; height:26px; font-size:14px; padding-top:6px}
.BrowserExtension span { float:left; height:26px}
.BrowserExtension p .sBrowser { background:url(/template/2345/images/browserMap.png) -72px -52px no-repeat; color:#2a78b3; font-weight:700; height:22px; line-height:22px; padding-left:26px; margin-top:2px; display:inline}
.BrowserExtension p .sBrowser a { color:#2A78B3}
.BrowserExtension p .sBrowser a:hover { color:#fd5151}
.BrowserExtension a.browserDownBtn { background:url(/template/2345/images/browserMap.png) 0 0 no-repeat; width:96px; height:25px; float:left; margin-left:10px; display:inline}
.BrowserExtension a:hover.browserDownBtn { background-position:0 -26px}

.BrowserExtensionStyle { height:38px; background:url(/template/2345/images/browserMap121219.png) 0 -52px repeat-x; min-width:1000px}
.BrowserExtensionStyle p { width:1000px; margin:0 auto; line-height:26px; height:26px; font-size:13px; padding-top:6px; color:#333}
.BrowserExtensionStyle span { float:left; height:26px; color:#333}
.BrowserExtensionStyle .sTit { padding-left:115px; color:#666}
.BrowserExtensionStyle p .sBrowser { color:#2a78b3; height:22px; line-height:22px; margin-top:2px; display:inline}
.BrowserExtensionStyle p .sBrowser a { color:#2A78B3}
.BrowserExtensionStyle p .sBrowser a:hover { color:#fd5151}
.BrowserExtensionStyle a.browserDownBtn { background:url(/template/2345/images/browserMap121219.png) 0 0 no-repeat; width:79px; height:25px; float:left; margin-left:10px; display:inline; line-height:26px; overflow:hidden; font-weight:700; color:#2a78b2; text-align:center; overflow:hidden}
.BrowserExtensionStyle a:hover.browserDownBtn { background-position:0 -26px; color:#2a78b2; text-decoration:none}
.BrowserExtensionStyle a.aClose { float:right; background:url(/template/2345/images/browserMap121219.png) right -91px no-repeat; height:19px; line-height:20px; overflow:hidden; color:#8198a3; text-decoration:underline; padding-right:23px; margin-top:2px}
.BrowserExtensionStyle a:hover.aClose { background-position:right -111px; color:#f30}

.bang50Style { color:red; position:absolute}

/*右侧浮动窗*/
.globalRightMenu {width:64px; margin-left:1010px; position:fixed; _position:absolute;}
.globalRightMenu a.aFeedback,.globalRightMenu a.aGoBackTop,.globalRightMenu a.aUserGuide { width:60px; background:url(/template/2345/images/rightMenuMapBg.png) 0 0 no-repeat; display:block; margin:0 auto}
.globalRightMenu a.aUserGuide { background-position:0 -514px; height:38px;}
.globalRightMenu a:hover.aUserGuide { background-position:0 -553px;}
.globalRightMenu a.aFeedback { height:42px;}
.globalRightMenu a:hover.aFeedback { background-position:0 -43px}
.globalRightMenu a.aGoBackTop { height:50px; background-position:0 -412px}
.globalRightMenu a:hover.aGoBackTop { background-position:0 -463px}
.globalRightMenu a.m8 { margin-top:8px}
.globalRightMenu .pAnchor { background:url(/template/2345/images/rightMenuMapBg.png) 0 -86px no-repeat; height:161px; margin-top:8px; width:64px; padding-top:1px}
.globalRightMenu .pAnchor a { height:40px; display:block; line-height:40px; overflow:hidden; margin-top:-1px; text-align:center; width:64px; float:left; color:#333; font-size:14px}
.globalRightMenu .pAnchor a.AnchorBegin { margin-top:0}
.globalRightMenu .pAnchor a.AnchorEnd { height:42px}
.globalRightMenu .pAnchor a:hover { background:url(/template/2345/images/rightMenuMapBg.png) 0 -289px no-repeat; color:#2a78b4; text-decoration:none}
.globalRightMenu .pAnchor a:hover.AnchorBegin { background-position:0 -250px;}
.globalRightMenu .pAnchor a:hover.AnchorEnd { background-position:0 -367px;}

/*来源*/
.topSource { background:#3aa3cf}
.topSourceCon { width:1000px; background:url(/template/2345/images/sourceTopBg.jpg) 0 0 no-repeat; height:60px; position:relative; overflow:hidden; margin:0 auto}
.topSourceCon .aTopSource { display:block; width:1000px; height:60px;}
.topSourceCon .sSourceName { position:absolute; left:288px; top:10px; font-size:16px; color:#fff; font-family:\5FAE\8F6F\96C5\9ED1,\9ED1\4F53,\5B8B\4F53; line-height:20px; font-weight:700}
.topSourceCon .sSourceName em { padding:0 5px}
.topSourceCon a.topAddFavorite { background:url(/template/2345/images/sourceMap.png) 0 0 no-repeat; width:104px; height:28px; position:absolute; left:719px; top:22px}
.topSourceCon a:hover.topAddFavorite { background-position:0 -29px}
.topSourceCon a.topSourceClose { background:url(/template/2345/images/sourceMap.png) 0 -58px no-repeat; width:34px; height:34px; position:absolute; right:8px; top:13px}
.topSourceCon a:hover.topSourceClose { background-position:-35px -58px}

.newYearStyle { background:url(/template/2345/images/repeatGlobalMap.png) 0 0 repeat-x;}
.newYearStyle .headerNav { background:url(/template/2345/images/newYearHeaderNavBg.png) 0 0 no-repeat;}
.newYearStyle .headerNav .left a:hover,.newYearStyle .headerNav .right a:hover { background-image:url(/template/2345/images/repeatGlobalMap.png);}
.newYearStyle .headerNav .left i,.newYearStyle .headerNav .right i { background-image:url(/template/2345/images/repeatGlobalMap.png);}
.newYearStyle .headerNav .right a.downLoadBtn,.newYearStyle .headerNav .right a.addCollectBtn,.newYearStyle .headerNav .right a:hover.downLoadBtn,.newYearStyle .headerNav .right a:hover.addCollectBtn { background-image:url(/template/2345/images/newYearMap.png); color:#fff}
.newYearStyle .headerNav a.headerNavSelected,.newYearStyle .headerNav a:hover.headerNavSelected { background-image:url(/template/2345/images/repeatGlobalMap.png)}
.newYearStyle .headerContent { background:url(/template/2345/images/newYearHeaderConBg.jpg) 0 0 no-repeat;}
.newYearStyle .headerSearch .searchInput { border:2px solid #ca0707; padding:6px 3px 5px; border-right:0 none;}
.newYearStyle .headerSearch .searchSubmit { background:url(/template/2345/images/newYearMap.png) 0 -50px no-repeat;}

.newYearScrollBottom { background:#c00; height:71px; position:fixed; _position:absolute; bottom:0; width:100%; z-index:600}
.newYearScrollBottomCon { width:1000px; min-width:1000px; background:url(/template/2345/images/lanternScrollBg.jpg) 0 0 no-repeat; position:relative; margin:0 auto}
.newYearScrollBottomCon a.aBanner { width:1000px; height:71px; display:block} 
.newYearScrollBottomCon a.aClose { display:block; position:absolute; background:url(/template/2345/images/newYearMap.png) -69px -50px no-repeat; width:41px; right:0; top:7px; color:#fff; padding-top:41px; text-align:center; line-height:20px} 
.newYearScrollBottomCon a:hover.aClose { background-position:-111px -50px; color:#fff}