<div class="footer">
  <div class="footerContent clearfix" style="text-align:center;">
    
    <div style="margin-top:10px; text-align:center;">{$copyright}</div>
    <div style="text-align:center;">
          <dt style="padding-top:6px;">投诉与建议</dt>
          <dt style="width:500px; margin:auto; text-align:center; padding-left:396px; padding-top:0px;"><a href="/index.php?s=Guestbook" target="_blank" id="footerAdviceBtn" class="footerAdviceBtn">任何你想说的</a></dt>
    </div>
    
        <a href="{$weburl}">{$webname}</a> Some Rights Reserved {$icp} {$tongji} <a href="{$baidusitemap}">sitemap</a> <a href="{$googlesitemap}">sitemap</a><br />
        <span style="display:none;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/15665491.js"></script></span>
    
</div>




<!--[if IE 6]>
<script src="/template/2345/js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
DD_belatedPNG.fix('.pngMap');
</script>
<![endif]--> 
   {:get_cms_ads('duilian_quanzhan')}
   {:get_cms_ads('fumeiti_quanzhan')}