<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$webtitle}</title>
<meta name="keywords" content="{$ckeywords}{$keywords}">
<meta name="description" content="{$cdescription}{$description}">
<link href="/template/2345/css/global.css" rel="stylesheet" type="text/css" />
<link href="/template/2345/css/video.common.css" rel="stylesheet" type="text/css" />
<link href="/template/2345/css/index.css?v=2013051301" rel="stylesheet" type="text/css" />
<link href="/template/2345/css/special.css" rel="stylesheet" type="text/css" />
</head>

<body>
<include file="header" />



<div class="main" style="margin:auto; width:1000px; margin-top:10px;">
	
    
    
    
<div class="right_special">
                <div class="right1_special">

                <div class="right2-1_special">

                	<span><b style="color:#0078bc; font-size:14px;">专题策划</b></span>

                </div>

                

                <ul class="right_special"> 

				<gxlist name="special" limit="16" order="addtime">
                 <li>

                    	<a href="{$special.readurl}" target="_blank" class="img_special"><img src="{$special.logo}" onerror="this.src='/views/images/nophoto.jpg'" alt="白发魔女传专题" width="165" height="100"></a>

                        <a class="title_special" href="{$special.readurl}" target="_blank" title="{$special.title}">{$special.title}</a>

                    </li>
               </gxlist> 

                </ul>

                <div class="clear"></div>

                <!---pag 开始--->

                
                <!---pag 结束--->

                <div class="clear"></div>

            </div>        
        </div>

    
</div>


<div style="margin-top:10px;">
<include file="footer" />
</div>








</body>
</html>
